.fullscreen {
    width: 100vw;
    height: 100vh;
    padding-top: 76.22px;
}

thead {
    vertical-align: bottom;
    background-color: #666;
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Fixed Headers */
thead {
    position: -webkit-sticky;
    position: sticky;
    top: 76.2px;
    z-index: 2;
}

