.fullscreen {
    width: 100vw;
    height: 100vh;
    padding-top: 76.22px;
    //overflow: hidden;
}

.navbar {
    background-color: #666 !important;
}

.alert {
    animation: fade 2s forwards;
    animation-delay: 2s;
}

@keyframes fade {
    to { opacity: 0; }
}

.table {
    overflow-y: scroll;

    .badge {
        color: #fff;
    }
}

thead {
    vertical-align: bottom;
    background-color: #666;
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Fixed Headers */
thead {
    position: -webkit-sticky;
    position: sticky;
    top: 76.2px;
    z-index: 2;
}

.badge {
    font-size: 100%;
}
